#APPLICATION VARS DEVELOPMENT
FLASK_APP=home/filemanager/app/__init__.py
FLASK_ENV=Development
APP_SETTINGS=app.config.DevelopmentConfig

MONGO_URI="mongodb://filemanager:filepwd@mongodb:27017/filemanager?authSource=admin"

MONGODB_DATABASE=filemanager
MONGODB_HOST=mongodb
MONGODB_USERNAME=filemanager
MONGODB_PASSWORD=filepwd

# MONGO DB VARS
MONGO_INITDB_ROOT_USERNAME=teste
MONGO_INITDB_ROOT_PASSWORD=teste
MONGO_INITDB_DATABASE=filemanager
MONGODB_DATA_DIR=/data/db
MONDODB_LOG_DIR=/dev/null

